@import '../../App.scss';

.slick-salary {
    margin-bottom: 83px;

    .slick-slide {
        .slick-card {
            margin-left: auto;
            margin-right: auto;
            max-width: 300px;
            padding-left: 22px;
            padding-right: 22px;
            background: #FFFFFF;
            box-shadow: 0px 0px 1.46587px rgba(0, 0, 0, 0.1), 0px 0.732934px 2.93174px rgba(0, 0, 0, 0.1);
            border-radius: 14.6587px;
            border: 1.46587px solid #BAC9D7;
            @include Responsive(xl) {opacity: 0.6;}
        
            .card-headder {
                padding-top: 45px;
                margin-bottom: 22px;
                display: flex;
                align-items: center;
        
                img {
                    max-width: 60px;
                    max-height: 60px;
                    margin-right: 23px;
                }
        
                h5 {
                    color: #17274E;
                    margin-bottom: 0;
                    font-family: Gilroy-SemiBold;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: -0.1832335740327835px;
                    text-align: left;
        
                }
        
                h6 {
                    font-family: Gilroy-Regular;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #A4B7C8;
                    margin-bottom: 0;
                }
        
            }
        
            .description {
                font-family: Gilroy-Regular;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0px;
                text-align: left;
                letter-spacing: 0px;
                color: #17274E;
                margin-bottom: 0;

            }
        
            .divider-under-des {
                margin: 14px 0px;
            }
        
            .features {
                margin-bottom: 32px;
                h6 {
                    font-family: Gilroy-Regular;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0px;
                    text-align: left;
                    letter-spacing: 0px;
                    color: #17274E;
                    margin-bottom: 12px;

                }
        
                ul {
                    list-style-type: none;
                    padding-left: 0;
        
                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;
        
                        &:last-child {
                            margin-bottom: 0;
                        }
        
                        span {
                            margin-right: 8px;
                        }
        
                        img {
                            max-width: 8.68px;
                            max-height: 6.17px;
                        }
        
                        p {
                            font-family: Gilroy-Regular;
                            font-size: 10px;
                            line-height: 15px;
                            letter-spacing: 0px;
                            text-align: left;
                            letter-spacing: 0px;
                            color: #17274E;
                            margin-bottom: 0;
                            
                        }
                    }
                }
            }
        
            .btn-interest {
                width: 100%;
                background: #FFBE16;
                border-radius: 7.32934px;
                font-family: Gilroy-SemiBold;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.25px;
                text-align: center;
                color: #FFFFFF;
                padding-top: 8px;
                padding-bottom: 8px;
                border: none;
                outline: none;
                margin-bottom: 13px;
        
                &:hover { opacity: 0.9 }
            }
        
            .btn-see-profile {
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                border: none;
                outline: none;
                background-color: transparent;
                margin-bottom: 16px;
        
                .see {
                    font-family: Gilroy-Regular;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0px;
                    text-align: right;
                    color: #919191;
                    margin-right: 6px;
                }

                .icon-see {
                    height: 100%;
                }
            }
        
        }
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    .slick-center {

        .slick-card {
            opacity: 1;
            max-width: 384px;
            padding-left: 28px;
            padding-right: 28px;
            background: #FFFFFF;
            box-shadow: 0px 0px 1.87317px rgba(0, 0, 0, 0.1), 0px 0.936585px 3.74634px rgba(0, 0, 0, 0.1);
            border-radius: 18.7317px;
            border: 1.87317px solid #BAC9D7;
        
            .card-headder {
                padding-top: 57px;
                margin-bottom: 28px;
                display: flex;
                align-items: center;
        
                img {
                    max-width: 67.8px;
                    max-height: 67.8px;
                    margin-right: 30px;
                }
        
                h5 {
                    font-family: Gilroy-SemiBold;
                    font-size: 22px;
                    line-height: 30px;
                    letter-spacing: -0.25px;
                    text-align: left;
                    color: #17274E;
                    margin-bottom: 0;
        
                }
        
                h6 {
                    font-family: Gilroy-Regular;
                    font-size: 19px;
                    line-height: 28px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #A4B7C8;
                    margin-bottom: 0;
                }
        
            }
        
            .description {
                font-family: Gilroy-Regular;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                color: #17274E;
                margin-bottom: 0;
            }
        
            .divider-under-des {
                margin: 19px 0px;
            }
        
            .features {
                margin-bottom: 85px;
                h6 {
                    font-family: Gilroy-Regular;
                    font-size: 19px;
                    line-height: 28px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #17274E;
                    margin-bottom: 15px;
                }
        
                ul {
                    list-style-type: none;
                    padding-left: 0;
        
                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 8px;
        
                        &:last-child {
                            margin-bottom: 0;
                        }
        
                        span {
                            margin-right: 12px;
                        }
        
                        img {
                            max-width: 12.91px;
                            max-height: 9.19px;
                        }
        
                        p {
                            font-family: Gilroy-Regular;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #17274E;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        
            .btn-interest {
                width: 100%;
                background: #FFBE16;
                border-radius: 9.36585px;
                font-family: Gilroy-SemiBold;
                font-size: 22px;
                line-height: 30px;
                letter-spacing: -0.25px;
                text-align: center;
                color: #FFFFFF;
                padding-top: 11px;
                padding-bottom: 11px;
                border: none;
                outline: none;
                margin-bottom: 15px;
        
                &:hover { opacity: 0.9 }
            }
        
            .btn-see-profile {
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                border: none;
                outline: none;
                background-color: transparent;
                margin-bottom: 19px;
        
                .see {
                    font-family: Gilroy-Regular;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: right;
                    color: #919191;
                    margin-right: 8px;
                }
            }
        
        }
    }

    .slick-dots {
        position: relative !important;
        margin-bottom: 0 !important;
        margin-top: 24px !important;

        li {
            width: 16px !important;
            height: 16px !important;
            border-radius: 50% !important;
            background-color: #A4B7C8;

            button { 
                display: block !important; 
                background-color: transparent !important;
                width: 100% !important;
                height: 100% !important;
            }
        }

        .slick-active {
            background-color: #17274E !important;
        }
    }
}
