.faq {
    --padding-x: 15px; 
    
    .cus-container {
        padding-left: var(--padding-x);
        padding-right: var(--padding-x);

        padding-top: 48px;
        padding-bottom: 93px;
    }
    .faq-header {
        background: url("../../assets/img/bgFAQ.png") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;


        .row-search {

            h1 {
                font-family: Gilroy-SemiBold;
                font-size: 36px;
                line-height: 60px;
                letter-spacing: -0.5px;
                text-align: left;
                color: #FFFFFF;
                margin-bottom: 12px;

            }

            p {
                font-family: Gilroy-Regular;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0px;
                text-align: left;
                color: #AFC0CF;
                margin-bottom: 32px;


            }

            .search-input-wrap {
                display: flex;
                align-items: center;
                background-color: #FFFFFF;
                border-radius: 8px;
                border: none;
                height: 80px;
                padding: 20px 16px;
                margin-bottom: 98px;

                .icon-wrap {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    height: 100%;   
                    font-family: Gilroy-Regular;
                    font-size: 16px;
                    line-height: 24px;
                    color: #273A5F;
                    padding: 0 15px;
                }
            }
        }
    }

    .faq-body {
        background-color: #F3F5F7;
        
    }
}