.about-container {
  width: 100%;
}

.about-container__inner {
  background-size: cover;
  background-repeat: no-repeat;
}

.about-container__text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.about-container__text-group div {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  max-width: 540px;
}

.about__title {
  font-family: "Gilroy-Medium" !important;
  margin-bottom: 25px;
}

.about__small-text {
  font-family: "Gilroy-Regular" !important;
}

.about__count {
  font-family: "Gilroy-Regular";
  font-size: 94.6721px;
  line-height: 95px;
  /* or 100% */

  letter-spacing: -0.986168px;

  /* Dark – #000000 */

  color: #000000;
}

.about__subtitle {
  font-family: "Altone";
  font-style: normal;
  font-weight: normal;
  font-size: 20.082px;
  line-height: 29px;
  /* or 143% */

  /* Dark – #000000 */

  color: #000000;
}
/* About feauture */
.about__feature {
  padding: 48px 0px 10px;
  background: #ffffff;
  border: 1px solid #eef6fa;
  box-sizing: border-box;
  box-shadow: 0px 30px 25px rgba(23, 39, 78, 0.11);
  border-radius: 12px;
}

.about__feature .c-h6-subtitle {
  color: #17274e;
}

.feature-num {
  font-family: Gilroy-Light;
  font-size: 48px;
  line-height: 95px;
  /* or 197% */

  text-align: center;
  letter-spacing: -1px;

  color: #273a5f;
}

/* About Features */
.about__features {
  width: 100%;
  padding: 70px 10% 30px 10%;
}

.about__features__inner {
  display: flex;
  justify-content: center;
}

.about__feature {
  width: 280px;
  text-align: center;
  margin-bottom: 30px;
}
@media(min-width:768px){
  .about-container__inner .switch-dots{
    display: none;
  }
}
@media(max-width: 768px){
  .feature__track{
    flex-wrap: nowrap!important;
    transition: all 0.3s ease;
  }

  .about__feature{
    margin: 0!important;
    min-width: 250px;
    margin-right: 60px!important;
    margin-left: 60px!important;
  }

  .about-container__text-group{
    transform: translateY(-150px);
  }

  .about-container__inner{
    margin-top: 50px;
    background-size: 100%!important;
  }
}

@media(max-width: 320px){
  .about__feature{
    margin-right: 30px!important;
    margin-left: 30px!important;
  }
}