.feedbacks-container {
  width: 100%;
  padding-bottom: 100px;
}

.feedbacks__inner {
}

.text-group {
  width: 100%;
  text-align: center;
  padding: 0 10%;
}

.text-group__title {
  color: #000000;
}

.text-group__small-text {
  text-align: center;

  color: #a4b7c8;
  display: flex;
  justify-content: center;
}

.feedbacks__small-text span {
  width: 50%;
}
/* Slide */
.slide-container {
  width: 20%;
  background: #ebeef1;
  border-radius: 15px;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  margin: 0 25px;
}

.slide__inner {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.slide__photo-holder {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;
}

.slide__photo-container {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 40px;
}

.slide__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slide__main-content {
  margin-bottom: 30px;
  font-family: Gilroy-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  /* or 133% */

  letter-spacing: 0.1px;

  /* Dark – #000000 */

  color: #000000;
}

.slide__info {
  display: flex;
  flex-direction: column;
}

.slide__info-name {
  margin-right: 20px;
  font-family: Gilroy-Medium;
  font-size: 15.4355px;
  line-height: 23px;
  /* or 150% */

  letter-spacing: 0.0771777px;
  /* Dark – #000000 */

  color: #000000;
}

.slide__info-description {
  font-family: Gilroy-Medium;
  font-size: 15.4355px;
  line-height: 23px;
  /* or 150% */

  letter-spacing: 0.0771777px;
  /* Dark – #000000 */

  color: #000000;
}

/* Slide track */
.slide-track-container {
  max-width: 100%;
  position: relative;
  margin-top: 80px;
  overflow-x: hidden;
}

.slide-track__inner {
  width: calc(400%);
  margin-left: calc(10% - 25px);
  display: flex;
  transition: all 0.3s ease;
}

.left-arrow {
  position: absolute;
  left: calc(10% + 50px);
  top: 50%;
  z-index: 999;
}

.right-arrow {
  position: absolute;
  right: calc(10% + 50px);
  top: 50%;
  z-index: 999;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Float group */

.c-float-group {
  filter: drop-shadow(0px 6px 12px rgba(19, 42, 151, 0.1));
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  z-index: 10;
  margin: 0 10%;
  padding: 0 50px;
  align-items: center;
  transform: translateY(-50%);
}

.float-group__theme {
  transform: translateY(33.05px);
}

.float-group__content {
  flex-grow: 1;
  padding: 0 20px;
}

.c-float-group .c-large-button {
  background: #091738;
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  text-align: center;

  color: #ffffff;
}
/* Switch Dots */
.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #a4b7c8;
  margin-right: 14px;
}

.dot.dot--dark{
  background-color: #17274e;
}

.dot.active {
  background-color: #17274e;
}

.dot.dot--dark.active {
  background-color: #a4b7c8;
}

.switch-dots {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
@media (max-width: 992px) {
  .float-group__theme img {
    display: none;
  }

  .float-group__theme {
    background-image: url(../img/RoundSearchIcon.png);
    background-position: center;
    background-size: cover;
    width: 68px;
    height: 68px;
    transform: none;
  }
  .c-float-group {
    transform: none;
    flex-direction: column;
    padding: 40px 13px;
    row-gap: 24px;
    margin: 16px 25px 65px;
  }

  .c-float-group div {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .slide__inner {
    width: 90%;
  }

  .slide-track__inner {
    margin: 0 0px;
  }

  .slide-track-container {
    margin-left: 0;
    margin-right: 0;
  }

  .left-arrow {
    display: none;
  }

  .right-arrow {
    display: none;
  }
}
