.hompage__header {
  width: 100%;
  background: #ffffff;
  display: flex;
  align-items: stretch;
}

.homepage__header__inner{
  flex-direction: row-reverse;
}

.homepage__header__inner .col-md-6{
  padding: 0!important;
}

.c-page-header__inner {
  padding: 100px 10% !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 36px;
}

/* Left */
.homepage__header__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.homepage__header__h1 {
  /* Medium length displa */
  width: 100%;
  margin-bottom: 24px;
  /* H1 */

  font-family: "Gilroy-SemiBold";
  font-size: 54px;
  line-height: 60px;
  /* or 111% */

  letter-spacing: -1px;

  color: #17274e;
  max-width: 540px;
}

.hompage__header__small-text {
  /* Separated they live */

  width: 100%;
  font-family: "Gilroy-Regular";
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
  max-width: 540px;
  /* or 150% */

  color: #a4b7c8;
}

.homepage__header__signup-button {
  background: #ffbe16;
  box-shadow: 0px 6px 10px #d2e2ed;
  border-radius: 8px;
  outline: none;
  border: 0px;
}

.homepage__header__signup-button > span {
  font-family: "Gilroy-SemiBold";
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  text-align: center;

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.hompage__header__image-group {
  width: 100%;
  max-width: 540px;
}

.hompage__header__image-group img {
  width: 100%;
}

/* @media (max-width: 1380px){
  .homepage__header__inner{
    flex-direction: column;
    align-items: center;
  }

  .homepage__header__left{
    margin-bottom: 50px;
  }

  .homepage__header__signup-button{
    width: 100%;
  }
} */

@media (max-width: 768px) {
  .c-page-header__inner {
    padding: 40px 16px!important;
  }
}
