/* Text side */
.service-feature__text-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Service feature */
.service-feature {
  margin: 60px 0px;
}

.service-feature__title {
  color: #17274e;
}
.service-feature__subtitle {
  color: #000000;
}
/* Nav sidebar */
.sidebar {
  /* White */

  background: #ffffff;
  /* Grey-05 */

  border: 1px solid #bac9d7;
  box-sizing: border-box;
  /* Shadow 03 */

  box-shadow: 0px 22px 29px rgba(6, 49, 115, 0.15);
  border-radius: 12px;
  padding: 50px 20px;
  width: calc(100% + 8px);
  min-height: 350px;
  max-width: 400px;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  margin-bottom: 40px;
}

.sidebar-option {
  text-decoration: none;
  color: #a4b7c8;
  transition: all 0.3s ease;
}

.sidebar-option-container {
  padding: 16px 0;
  position: relative;
}

.sidebar-option-container:hover,
.sidebar-option-container.active {
  background: #eef3f8;
  border-radius: 6px;
}

.sidebar-option-container:hover a,
.sidebar-option-container.active a {
  color: #3e5476;
  font-family: "Gilroy-SemiBold";
}

.sidebar-option-container.scrolled a {
  color: #17274e;
}

.a-wrapper {
  max-width: calc(100% - 30px);
}
.sidebar-option-container:hover .a-wrapper,
.sidebar-option-container.active .a-wrapper {
  transform: translateX(30px);
}

.service-body__inner .col-md-8 {
  padding: 0 !important;
}

@media (min-width: 992px) {
  .service-feature:nth-child(even) .service-feature__inner {
    flex-direction: row-reverse;
  }
  .service-body__left {
    position: relative;
  }
  .sidebar.sidebar--fixed {
    position: fixed;
    top: 100px;
    left: calc(10% + 12px );
    width: 25%;
    max-width: 400px;
  }
  .sidebar.sidebar--bottom{
    position: absolute;
    bottom: 80px;
    width: calc(100% - 18px);
    max-width: 400px;
  }
}

@media (min-width: 768px) {

}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }

  .service-feature__inner {
    flex-direction: column-reverse;
  }
  .c-theme-holder {
    margin-bottom: 60px;
  }
}
