.talents-container {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 100px;
}

.talents__map {
  display: flex;
  justify-content: center;
}
/* content */

.talents__map .c-large-button {
  font-family: "Gilroy-SemiBold";
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  text-align: center;

  color: #ffffff;
  max-width: none !important;
  border: 1.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 25px;
}

.talents__map__content {
  position: absolute;
  width: 50%;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.star-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #fff2d0;
  margin-bottom: 50px;
}

.talents__map__content__title {
  font-family: "Gilroy-SemiBold";
  font-size: 56px;
  line-height: 60px;
  /* or 107% */

  text-align: center;
  letter-spacing: -1px;

  color: #ffffff;
  margin-bottom: 20px;
}

.talents__map-holder {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 1021px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.talents__map-holder img {
  position: relative;
  top: 536px;
  transform: translateX(-20px);
}

.talents__map__content__text {
  font-family: "Gilroy-Regular";
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  text-align: center;
  max-width: 70%;
  color: #ffffff;
}

.talents__inner {
  background: #091738;
}

.talents__trusted {
  background: #091738;
  padding: 30px 10%;
  padding-bottom: 100px;
}

.talents__trusted__inner {
  display: flex;
  align-items: flex-end;
  align-items: center;
}

.text--white {
  color: white !important;
}

.button--red {
  background: #f9837b !important;
  border: none !important;
}

.talents__cards {
  bottom: 15%;
  right: 0;
  width: 100%;
  padding: 0 10%;
  transform: translateY(-30%);
  margin-bottom: -100px;
}

.talents__cards__inner {
  justify-content: center;
  transition: all 0.3s ease;
}

.talents__cards__inner .card {
  max-width: 260px;
  margin: 0 10px;
  margin-bottom: 30px;
  height: 400px;
  border-radius: 8px;
}

.talents__cards__inner .card-img-top {
  width: 100%;
  background: #f3f5f7;
  box-shadow: 0px 11.4171px 15.8571px rgba(0, 0, 0, 0.03);
  padding: 18px 0px 15px 45px;
  height: 201px;
}

.talents__cards__inner .card-img-top img {
  width: 100%;
}

.talents__cards__inner .card-title {
  font-family: "Gilroy-SemiBold";
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */

  letter-spacing: 0.5px;

  color: #091738 !important;
}

.talents__cards__inner .card-text {
  font-family: "Gilroy-Regular";
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #091738 !important;
}

.talents__cards__inner .card-body {
  padding-bottom: 55px;
}

.card-container {
  margin-bottom: 30px;
}

.slick-trusted-cus .slick-dots {
  bottom: -30px !important;
}

.slick-dots li button {
  width: 16px!important;
  height: 16px!important;
  border-radius: 50%!important;
  background-color: #a4b7c8;
  margin-right: 14px;
}



@media (max-width: 996px) {
  /* .talents__cards {
    margin-top: 200px;
  } */
  .talents__map__content {
    width: 90% !important;
  }
}

@media (max-width: 768px) {
  .talents__cards__inner {
    justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  .star-holder {
    margin-bottom: 35px;
  }

  .talents__map__content__text {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .dot--dark {
    display: none;
  }
}
