.company-trusted-by__inner {
  padding: 0 15px;
  padding-top: 100px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-trusted-by__text {
}

.company-trusted-by__title {
  font-family: "Gilroy-SemiBold";
  font-size: 42px;
  line-height: 50px;
  /* or 119% */

  text-align: center;
  letter-spacing: -1px;

  color: #17274e;
  margin-bottom: 23px;
}
.company-trusted-by__small-text {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  color: #a4b7c8;
  margin-bottom: 35px;
}

.company-trusted-by__brands {
  justify-content: center;
  width: 100%;
}

.company-trusted-by__brands > div {
  flex-shrink: 0;
}

.brand-card {
  background-size: contain;
  height: 90px;
  width: 160px;
  background-color: #ffffff;
}

.brand-card__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  border-radius: 10px;
  margin: 0 10px;
}

.brand-card img {
}

.brand-card--gray {
  background-color: #f5f5f5;
}

.brand-card--white {
}

/* Slick */

.company-trusted-by__inner .cus-container-fluid{
  width: 100%;
  display: flex;
  justify-content: center;
}

.company-trusted-by__inner .cus-container-fluid .ant-carousel {
  width: 50%;
  min-width: 480px;
}

.slick-trusted-by {
  width: 100%;
  min-width: 480px;
}

.slick-trusted-by .slick-list {
}

.slick-trusted-by .slick-slide .brand-card__inner {
  background-color: #f5f5f5 !important;
}

.slick-trusted-by .slick-center .brand-card__inner {
  background-color: #ffffff !important;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}
@media (max-width: 525px) {
  .brand-card {
    padding: 0 8px;
  }
}
