.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$xs: 575.98px;   
$sm: 576px;  
$md: 768px;   
$lg: 992px;     
$xl: 1200px;  
$xxl: 1400px;   

// media queries

@mixin Responsive($canvas) {
    @if $canvas == xs {
        @media only screen and (max-width: $xs) { @content; } 
    }
    @else if $canvas == sm {
        @media only screen and (min-width: $sm) { @content; } 
    }
    @else if $canvas == md {
        @media only screen and (min-width: $md) { @content; } 
    }
    @else if $canvas == lg {
        @media only screen and (min-width: $lg) { @content; } 
    }
    @else if $canvas == xl {
        @media only screen and (min-width: $xl) { @content; } 
    }
    @else if $canvas == xxl {
        @media only screen and (min-width: $xxl) { @content; } 
    }
}
