.App {
  text-align: center;
}

$xs: 575.98px;   
$sm: 576px;  
$md: 768px;   
$lg: 992px;     
$xl: 1200px;  
$xxl: 1400px;   

// media queries

@mixin Responsive($canvas) {
    @if $canvas == xs {
        @media only screen and (max-width: $xs) { @content; } 
    }
    @else if $canvas == sm {
        @media only screen and (min-width: $sm) { @content; } 
    }
    @else if $canvas == md {
        @media only screen and (min-width: $md) { @content; } 
    }
    @else if $canvas == lg {
        @media only screen and (min-width: $lg) { @content; } 
    }
    @else if $canvas == xl {
        @media only screen and (min-width: $xl) { @content; } 
    }
    @else if $canvas == xxl {
        @media only screen and (min-width: $xxl) { @content; } 
    }
}

.cus-container {
  @include Responsive(xs) {
    width: 100%;
  }

  @include Responsive(sm) {
    max-width: 540px;
  }

  @include Responsive(md) {
    max-width: 720px;
  }

  @include Responsive(lg) {
    max-width: 960px;
  }

  @include Responsive(xl) {
    max-width: 1140px;
  }

  @include Responsive(xxl) {
    max-width: 1140px;
  }
}

.cus-container-sm {
  @include Responsive(xs) {
    width: 100%;
  }

  @include Responsive(sm) {
    max-width: 540px;
  }

  @include Responsive(md) {
    max-width: 720px;
  }

  @include Responsive(lg) {
    max-width: 960px;
  }

  @include Responsive(xl) {
    max-width: 1140px;
  }

  @include Responsive(xxl) {
    max-width: 1140px;
  }
}

.cus-container-md {
  @include Responsive(xs) {
    width: 100%;
  }

  @include Responsive(sm) {
    width: 100%;
  }

  @include Responsive(md) {
    max-width: 720px;
  }

  @include Responsive(lg) {
    max-width: 960px;
  }

  @include Responsive(xl) {
    max-width: 1140px;
  }

  @include Responsive(xxl) {
    max-width: 1140px;
  }
}

.cus-container-lg {
  @include Responsive(xs) {
    width: 100%;
  }

  @include Responsive(sm) {
    width: 100%;
  }

  @include Responsive(md) {
    width: 100%;
  }

  @include Responsive(lg) {
    max-width: 960px;
  }

  @include Responsive(xl) {
    max-width: 1140px;
  }

  @include Responsive(xxl) {
    max-width: 1140px;
  }
}

.cus-container-xl {
  @include Responsive(xs) {
    width: 100%;
  }

  @include Responsive(sm) {
    width: 100%;
  }

  @include Responsive(md) {
    width: 100%;
  }

  @include Responsive(lg) {
    width: 100%;
  }

  @include Responsive(xl) {
    max-width: 1140px;
  }

  @include Responsive(xxl) {
    max-width: 1140px;
  }
}

.cus-container-xxl {
  @include Responsive(xs) {
    width: 100%;
  }

  @include Responsive(sm) {
    width: 100%;
  }

  @include Responsive(md) {
    width: 100%;
  }

  @include Responsive(lg) {
    width: 100%;
  }

  @include Responsive(xl) {
    width: 100%;
  }

  @include Responsive(xxl) {
    max-width: 1140px;
  }
}

.cus-container-fluid {
  width: 100%;
}


.cus-container, .cus-container-fluid, .cus-container-lg, .cus-container-md, .cus-container-sm, .cus-container-xl, .cus-container-xxl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}