.c-h5-title {
  font-family: "Gilroy-SemiBold";
  font-size: 22px;
  line-height: 135%;
  /* or 30px */

  letter-spacing: -0.25px;
  color: #17274e;
}

.c-h6-title {
  font-family: "Gilroy-Regular";
  font-size: 19px;
  line-height: 145%;
  color: #a4b7c8;
}

.c-h4-title {
  font-family: "Gilroy-SemiBold";
  font-size: 32px;
  line-height: 135%;
  /* or 43px */

  letter-spacing: -0.5px;

  margin-bottom: 24px;
}

.c-h1-title {
  font-family: "Gilroy-SemiBold";
  font-size: 54px;
  line-height: 60px;
  /* or 111% */

  letter-spacing: -1px;
  margin-bottom: 16px;
  color: #17274e;
}

.c-h2-title {
  font-family: "Gilroy-SemiBold";
  font-size: 48px;
  line-height: 115%;
  /* or 55px */

  display: flex;
  align-items: flex-end;
  letter-spacing: -1px;
}

.c-h3-title {
  /* H3 */

  font-family: "Gilroy-SemiBold";
  font-size: 36px;
  line-height: 125%;
  /* or 45px */
  color: #17274e;
}
.c-p-subtitle {
  /* P */

  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  margin-bottom: 24px;
  color: #a4b7c8;
}

a {
  text-decoration: none !important;
}

.c-cus-container {
  width: 100%;
  padding: 50px 10%;
}

.app-container {
  overflow-x: hidden;
}

@media (max-width: 992px) {
  .c-h1-title {
    font-size: 48px !important;
    line-height: 115% !important;
    /* or 55px */
  }
}

@media (max-width: 768px) {
  /* .c-h1-title {
    font-size: 36px !important;
    line-height: 125% !important;

  } */

  .c-cus-container {
    padding: 50px 0 !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .c-h3-title {
    font-size: 22px !important;
    line-height: 135% !important;
    /* or 30px */

    letter-spacing: -0.25px;
  }
  .c-h3-title--maintain {
    font-size: 36px !important;
    line-height: 125% !important;
  }

  .c-h2-title {
    font-size: 36px !important;
    line-height: 125% !important;
  }
}

@media (max-width: 576px) {
  .c-h2-title {
    font-size: 22px !important;
    line-height: 135% !important;
    /* or 30px */

    letter-spacing: -0.25px;
  }

  .c-h5-title {
    font-family: "Gilroy-Regular" !important;
    font-size: 19px !important;
    line-height: 145% !important;
    color: #a4b7c8;
  }

  .c-h5-title--maintain {
    font-size: 22px !important;
    font-family: "Gilroy-SemiBold" !important;
    line-height: 135% !important;
    color: #a4b7c8;
  }

  .c-h1-title {
    font-size: 32px !important;
    line-height: 135% !important;
  }

  .c-h4-title {
    font-size: 22px !important;
    font-family: "Gilroy-SemiBold" !important;
    line-height: 135% !important;
  }
}
